$titleFont: "Sansita Swashed", system-ui;
$texteFont:  "Funnel Display", sans-serif;   
@mixin h2(){
    font-family: $titleFont;
    font-size: 33px;
    font-weight: bold;
}
@mixin ulArticle(){
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin imgArticle(){
    width: 339px;
    height: 339px;
    object-fit: cover;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    padding-bottom: 20px;
}
@mixin liArticle (){
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $titleFont;
    font-size: 30px;
    background-color: #F6EFE7;
    border-radius: 30px;
    height: 550px;
    margin-top: 50px;
}
@mixin liH2(){
    @include h2();
    margin-left: 75px;
    margin-top: 100px;
    margin-bottom: 100px;
}
@mixin liParagraphe(){
    font-family: $texteFont;
    font-size: small;
    width: 320px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
footer {
    background-color: #C7AF94;
}