@import"./variable";

*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6EFE7;
}
.logo{
    width: 107px;
    height: 107px;
    margin-left: 62px;
}
a{
    text-decoration: none;
    color: black;
}
.liste-header{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 42px;
    margin-right: 84px;
    font-family: $titleFont;
    font-size: 24px;
}
a:hover {
    text-decoration: underline;
}
.banner{
    width: 100%;
    height: 665px;
    overflow: hidden;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
<<<<<<< HEAD:style.scss
.banner img {
    width: 100%;
    filter: blur(6px);
    filter: brightness(50%);
}
.texteBanner h2{
    @include h2();
    position: absolute;
    bottom: 50%;
    left: 75px;
    color: #F6EFE7;
}
.texteBanner p{
    font-family: $texteFont;
    position: absolute;
    bottom: 40%;
    left: 75px;
    color: #F6EFE7;
    width: 33%;
}
.populaire h2{
    @include liH2();
}
.populaire ul{
    @include ulArticle();
}
.populaire img{
 @include imgArticle();
}
.populaire li{
    @include liArticle();
}
.populaire p{
    @include liParagraphe();
}
.Thés h2{
    @include liH2();
}
.Thés ul{
    @include ulArticle();
}
.Thés img{
    @include imgArticle();
}
.Thés li{
    @include liArticle();
}
.Thés p{
    @include liParagraphe();
=======

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c7af94;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-top: 60px;
} 
 
.logofooter{
    margin: 20px;
>>>>>>> da56e01 (j'ai fais la page event):evenement.scss
}
 
.navfooter ul{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 20px;
}
 
.navfooter li{
    list-style-type: none;
}
 
.navfooter a{
    
    text-decoration: none;
}

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
    padding: 20px 0;
    text-align: center;

    .logo {
      margin: 0 auto;
    }

    .liste-header {
      margin-top: 10px;
      gap: 25px;
      font-size: 20px;
    }
  }

  .evenement {
    padding: 40px 40px;

    h2 {
      font-size: 1.7em;
    }

    .event {
      flex-direction: column;
      text-align: center;

      .text {
        order: 2;
        max-width: 100%;
      }

      .image {
        order: 1;

        img {
          height: 220px;
        }
      }
    }
  }

  .carousel-section {
    .carousel-container {
      width: 90%;

      .carousel-item img {
        height: 250px;
      }

      .carousel-btn {
        font-size: 1.8rem;
      }
    }
  }
}


@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 10px;

    .logo {
      width: 80px;
      height: 80px;
    }

    .liste-header {
      flex-wrap: wrap;
      justify-content: center;
      font-size: 18px;
      gap: 15px;
    }
  }

  .Titre {
    height: 250px;

    .overlay {
      h1 {
        font-size: 2em;
      }
    }
  }

  .evenement {
    padding: 30px 20px;

    h2 {
      font-size: 1.5em;
      margin-bottom: 40px;
    }


    .event {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;

      .text {
        h3 {
          font-size: 1.1em;
        }

        p {
          font-size: 0.9em;
        }
      }

      .image {
        img {
          height: 180px;
        }
      }
    }
  }

  .carousel-section {
    padding: 40px 0;

    h2 {
      font-size: 1.4em;
      margin-bottom: 30px;
    }

    .carousel-container {
      width: 95%;

      .carousel-item img {
        height: 200px;
      }

      .carousel-btn {
        font-size: 1.5rem;
        padding: 5px 10px;
      }
    }

    .carousel-dots {
      .dot {
        width: 10px;
        height: 10px;
      }
    }
  }
}