@charset "UTF-8";
footer {
  background-color: #C7AF94;
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6EFE7;
}

.logo {
  width: 107px;
  height: 107px;
  margin-left: 62px;
}

a {
  text-decoration: none;
  color: black;
}

.liste-header {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 42px;
  margin-right: 84px;
  font-family: "Sansita Swashed", system-ui;
  font-size: 24px;
}

a:hover {
  text-decoration: underline;
}

.banner {
  width: 100%;
  height: 665px;
  overflow: hidden;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.banner img {
  width: 100%;
  filter: blur(6px);
  filter: brightness(50%);
}

.texteBanner h2 {
  font-family: "Sansita Swashed", system-ui;
  font-size: 33px;
  font-weight: bold;
  position: absolute;
  bottom: 50%;
  left: 75px;
  color: #F6EFE7;
}

.texteBanner p {
  font-family: "Funnel Display", sans-serif;
  position: absolute;
  bottom: 40%;
  left: 75px;
  color: #F6EFE7;
  width: 33%;
}

.populaire h2 {
  font-family: "Sansita Swashed", system-ui;
  font-size: 33px;
  font-weight: bold;
  margin-left: 75px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.populaire ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.populaire img {
  width: 339px;
  height: 339px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 20px;
}

.populaire li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Sansita Swashed", system-ui;
  font-size: 30px;
  background-color: #F6EFE7;
  border-radius: 30px;
  height: 550px;
  margin-top: 50px;
}

.populaire p {
  font-family: "Funnel Display", sans-serif;
  font-size: small;
  width: 320px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.Thés h2 {
  font-family: "Sansita Swashed", system-ui;
  font-size: 33px;
  font-weight: bold;
  margin-left: 75px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.Thés ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Thés img {
  width: 339px;
  height: 339px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 20px;
}

.Thés li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Sansita Swashed", system-ui;
  font-size: 30px;
  background-color: #F6EFE7;
  border-radius: 30px;
  height: 550px;
  margin-top: 50px;
}

.Thés p {
  font-family: "Funnel Display", sans-serif;
  font-size: small;
  width: 320px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 30px;
}

.logofooter {
  margin: 20px;
}

.navfooter ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin: 20px;
}

.navfooter li {
  list-style-type: none;
}

.navfooter a {
  font-family: "Sansita Swashed", system-ui;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .liste-header {
    gap: 20px;
    font-size: 20px;
    margin-right: 40px;
  }
  .banner {
    height: 500px;
  }
  .texteBanner h2 {
    font-size: 26px;
    position: absolute;
    left: 40px;
    bottom: 55%;
  }
  .texteBanner p {
    width: 50%;
    font-size: 15px;
    position: absolute;
    left: 40px;
    bottom: 45%;
  }
  .populaire ul,
  .Thés ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .populaire li,
  .Thés li {
    width: 40%;
    height: auto;
  }
  .populaire img,
  .Thés img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin: 0;
    width: 80px;
    height: 80px;
  }
  .list ul {
    display: none;
    flex-direction: column;
    top: 60px;
    right: 0;
    width: 200px;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.276);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .banner {
    height: 400px;
  }
  .texteBanner h2 {
    font-size: 22px;
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 72%;
  }
  .texteBanner p {
    position: absolute;
    bottom: 55%;
    left: 10%;
    font-size: 14px;
  }
  .populaire ul,
  .Thés ul {
    flex-direction: column;
    align-items: center;
  }
  .populaire li,
  .Thés li {
    width: 80%;
    height: auto;
  }
  .populaire img,
  .Thés img {
    width: 100%;
    height: auto;
  }
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */